<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://tailwindcss.com/docs/installation"></script>
</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900 p-10"></div>
    <h3>CREATE ACCOUNT</h3>
    <form action="/register" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="username" name="username">
        <input type="number" placeholder="age" name="age">
        <input type="email" placeholder="email" name="email">
        <input type="password" placeholder="password" name="password">
        <input type="submit" value="Create Account">
    </form>
</body>
</html>